node_modules
.nyc_output
.coveralls.yml
coverage
npm-debug.log
client/plugins/*
client/platforms/*
client/www/js/*.js
client/www/css/*.css
client/www/index.html
!.gitkeep
! client/www/js
! client/www/css
